@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

h1{
    font-family: "Alan Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

h2{
    margin-top: 2%;
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

h3{
    font-family: "IBM Plex Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

p{
    font-family: "Zalando Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

a{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
}

li{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

i{
    font-weight: 500;
}

th{
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    text-align: left;
    padding: 1%;
}

td{
    font-family: "Archivo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    padding: 1%;
}

table, td, th{
    border: 1px solid white;
}

code{
    font-family: "Google Sans Code", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    border: 1px solid white;
    padding: 0.2%;
}

nav{
    background-color: white;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
}

nav ul:first-child{
    padding-left: 0;
}

nav a{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 10px;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

nav a:hover{
    background-color: black;
    color: white;
    transition: 500ms;
}

@media(max-width: 280px){
    .mobile{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }
    .onmobile{
        width: 100%;
    }
    .on_mobile{
        padding: 1px;
    }
}